body {
	background: #e5e5e5;
}
.menu {
	background:#415a97;
}
.primer_opcion {
	background:#f3ad3d;
	margin-left:10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
    color:black;
}
#main-vertical {
	background:#cdd0d5;
	margin:10px;
	height:100%;
}
.img-vertical {
	display:flex;
	justify-content: center;
	align-items: center;
}
.img-vertical img {
	width:50%;
	margin-top:13px;
}
.card {
	margin:5px;
	border:1px solid black;
}
.list-group-item {
	border:1px solid black;
}
.panel {
	background:#cdd0d5;
	margin:10px;
}
.panel_principal{
	background:white;
	margin:20px;
}
.panel_principal {
	max-width:75%;
	padding:10px;
}
.menu_vertical {
	background:white;
}

 table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
  }

  td {
    border: 2px solid black;
    padding: 5px;
  }
#columna {
	text-align: center;
}

