body {
	background: #e5e5e5;
}
.menu {
	background:#415a97;
}
.primer_opcion {
	background:#f3ad3d;
	margin-left:10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
    color:black;
}
#main-vertical {
	background:#cdd0d5;
	margin:10px;
	height:100%;
}
.img-vertical {
	display:flex;
	justify-content: center;
	align-items: center;
}
.img-vertical img {
	width:50%;
	margin-top:13px;
}
.card {
	margin:5px;
	border:1px solid black;
}
.list-group-item {
	border:1px solid black;
}
.tabla_contenido td{
	border:1px solid black;
}
.panel {
	background:#cdd0d5;
	margin:10px;
	height:100%;
}
.panel_principal, .menu_vertical {
	background:white;
	margin:20px;
}
.panel_principal {
	max-width:75%;
	padding:10px;
}
.curso1_titulo {
	padding:10px;
	margin:10px;
}

